<!-- desk_update.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Update Desk Details</h1>

    <form method="post" action="{% url 'hotdesk:desk-update' desk_id=desk_id %}">
        {% csrf_token %}

        <!-- Desk Info Section -->
        <fieldset>
            <legend>Desk Info</legend>
            {{ desk_form.desk_id.label_tag }} {{ desk_form.desk_id }}
            <br>
            <br>
            {{ desk_form.desk_description.label_tag }} {{ desk_form.desk_description }}
            <br>
            <br>
            {{ desk_form.country.label_tag }} {{ desk_form.country }}
            <br>
            <br>
            {{ desk_form.capacity.label_tag }} {{ desk_form.capacity}}
            <br>
            <br>
            {{ desk_form.city_name.label_tag }} {{ desk_form.city_name }}
            <br>
            <br>
            {{ desk_form.availability.label_tag }} {{ desk_form.availability }}
            <br>
            <br>
            {{ desk_form.price.label_tag }} {{ desk_form.price }}
            <br>
            <br>
            {{ desk_form.start_time.label_tag }} {{ desk_form.start_time }}
            <br>
            <br>
            {{ desk_form.end_time.label_tag }} {{ desk_form.end_time }}
            <br>
            <br>
            {{ desk_form.post_code.label_tag }} {{ desk_form.post_code }}
            <br>
            <br>
            {{ desk_form.desk_number.label_tag }} {{ desk_form.desk_number }}
            <br>
            <br>
            {{ desk_form.ergonomic_chair_number.label_tag }} {{ desk_form.ergonomic_chair_number }}
            <br>
            <br>
            {{ desk_form.desk_monitor_number.label_tag }} {{ desk_form.desk_monitor_number }}
            <br>
            <br>
        </fieldset>

        <!-- Solid Credential Info Section -->
        <fieldset>
            <legend>Solid Credential Info</legend>
            {{ solid_form.username.label_tag }} {{ solid_form.username }}
            <br>
            {{ solid_form.password.label_tag }} {{ solid_form.password }}
            <br>
            {{ solid_form.idp.label_tag }} {{ solid_form.idp }}
            <br>
            {{ solid_form.pod_endpoint.label_tag }} {{ solid_form.pod_endpoint }}
            <br>
        </fieldset>

        <button type="submit" class="btn btn-primary">Update Desk</button>
        <a href="{% url 'hotdesk:dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<!-- Include Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    // Apply Flatpickr to the start_time and end_time fields
    flatpickr("#id_start_time", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
    flatpickr("#id_end_time", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
</script>

{% endblock %}
